.dragicon {
    -fx-background-radius: 10;
}

.and {
    -fx-background-color: #f4f4f4;
    -fx-background-image: url(Gate_Symbols/AND.svg);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.or {
    -fx-background-color: red;
}

.nand {
    -fx-background-color: green;
}

.nor {
    -fx-background-color: black;
}

.xor {
    -fx-background-color: grey;
}

.input {
    -fx-background-color: purple;

}

/* for gates*/
.node-overlay {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 15%, rgba(50, 100, 150, 0.45) 100%);

}

.right-link-handle:hover {
    -fx-background-radius: 0 0 10 10;
    -fx-background-color: rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
    -fx-background-radius: 0 0 0 10;
    -fx-background-color: rgba(255, 255, 255, 0.35);
}

.close_button:hover {
    -fx-background-radius: 0 0 0 5;
    -fx-background-color: rgba(255, 255, 255, 0.35)
}